.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  width: 1512px;
  height: 802px;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
}
.group-1000004494 {
  position: absolute;
  inset: 0;
}
.ellipse-141 {
  background: rgba(217, 217, 217, 0);
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 0.3px;
  width: 419px;
  height: 419px;
  position: absolute;
  left: 213px;
  top: 386px;
  box-shadow: inset 49px 75px 50px 0px rgba(154, 211, 204, 0.18);
}
.ellipse-142 {
  background: rgba(217, 217, 217, 0);
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 0.3px;
  width: 419px;
  height: 419px;
  position: absolute;
  left: 213px;
  top: 805px;
  box-shadow: inset -23px -27px 50px 0px rgba(135, 100, 227, 0.18);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.mask-group {
  position: absolute;
  left: 213px;
  top: 386px;
  overflow: visible;
}
.have-questions-suggestions-or-just-want-to-chat-about-offerwall-monetization-write-your-message-below-and-let-s-start-the-conversation {
  color: #1e1e1e;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 201px;
  top: 278px;
  width: 447px;
  height: 146px;
}
.get-in-touch {
  text-align: left;
  font: 700 55px "Poppins", sans-serif;
  position: absolute;
  left: 201px;
  top: 195px;
  width: 447px;
  height: 68px;
}
.get-in-touch-span {
  color: #1e1e1e;
  font: 700 55px "Poppins", sans-serif;
}
.get-in-touch-span2 {
  color: #5b56bd;
  font: 700 55px "Poppins", sans-serif;
}
.group-39 {
  position: absolute;
  inset: 0;
}
.your-e-mail {
  color: #1e1e1e;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 898px;
  top: 260px;
}
.rectangle-1206 {
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 413px;
  height: 45px;
  position: absolute;
  left: 898px;
  top: 286px;
}
.group-40 {
  position: absolute;
  inset: 0;
}
.subject {
  color: #1e1e1e;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 899px;
  top: 349px;
}
.rectangle-12062 {
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 413px;
  height: 45px;
  position: absolute;
  left: 898px;
  top: 375px;
}
.group-41 {
  position: absolute;
  inset: 0;
}
.your-message {
  color: #1e1e1e;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 898px;
  top: 438px;
  width: 142px;
}
.rectangle-1208 {
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 413px;
  height: 114px;
  position: absolute;
  left: 898px;
  top: 464px;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.group-2 {
  width: 207px;
  height: 20px;
  position: static;
}
.send {
  color: #1e1e1e;
  text-align: center;
  font: 500 30px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 653px;
  top: 819px;
  width: 207px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-deal {
  width: 447px;
  height: 447px;
  position: absolute;
  left: 201px;
  top: 343px;
  overflow: hidden;
}
.vector2 {
  position: absolute;
  left: 374.87px;
  top: 186.42px;
  overflow: visible;
}
.vector3 {
  position: absolute;
  left: 13.9px;
  top: 86.31px;
  overflow: visible;
}
.vector4 {
  position: absolute;
  left: 316.7px;
  top: 229.15px;
  overflow: visible;
}
.vector5 {
  position: absolute;
  left: 317.25px;
  top: 238.4px;
  overflow: visible;
}
.vector6 {
  position: absolute;
  left: 209.44px;
  top: 191.17px;
  overflow: visible;
}
.vector7 {
  position: absolute;
  left: 249.17px;
  top: 357.78px;
  overflow: visible;
}
.vector8 {
  position: absolute;
  left: 268px;
  top: 212.99px;
  overflow: visible;
}
.vector9 {
  position: absolute;
  left: 284.76px;
  top: 211.65px;
  overflow: visible;
}
.vector10 {
  position: absolute;
  left: 221.38px;
  top: 138.65px;
  overflow: visible;
}
.vector11 {
  position: absolute;
  left: 284.76px;
  top: 137.41px;
  overflow: visible;
}
.vector12 {
  position: absolute;
  left: 286.17px;
  top: 146.62px;
  overflow: visible;
}
.vector13 {
  position: absolute;
  left: 285.61px;
  top: 101.95px;
  overflow: visible;
}
.vector14 {
  position: absolute;
  left: 286.44px;
  top: 119.45px;
  overflow: visible;
}
.vector15 {
  position: absolute;
  left: 272.31px;
  top: 103.28px;
  overflow: visible;
}
.vector16 {
  position: absolute;
  left: 291.52px;
  top: 106.92px;
  overflow: visible;
}
.vector17 {
  position: absolute;
  left: 294.69px;
  top: 123.55px;
  transform: translate(0.93px, -8.14px);
  overflow: visible;
}
.vector18 {
  position: absolute;
  left: 266.98px;
  top: 91.36px;
  overflow: visible;
}
.vector19 {
  position: absolute;
  left: 86.31px;
  top: 191.17px;
  overflow: visible;
}
.vector20 {
  position: absolute;
  left: 100.76px;
  top: 357.78px;
  overflow: visible;
}
.vector21 {
  position: absolute;
  left: 126.64px;
  top: 212.99px;
  overflow: visible;
}
.vector22 {
  position: absolute;
  left: 100.76px;
  top: 211.65px;
  overflow: visible;
}
.vector23 {
  position: absolute;
  left: 84.45px;
  top: 138.15px;
  overflow: visible;
}
.vector24 {
  position: absolute;
  left: 154.09px;
  top: 144.45px;
  overflow: visible;
}
.vector25 {
  position: absolute;
  left: 124.51px;
  top: 137.41px;
  overflow: visible;
}
.vector26 {
  position: absolute;
  left: 124.97px;
  top: 100.85px;
  overflow: visible;
}
.vector27 {
  position: absolute;
  left: 130.33px;
  top: 118.35px;
  overflow: visible;
}
.vector28 {
  position: absolute;
  left: 131.7px;
  top: 102.19px;
  overflow: visible;
}
.vector29 {
  position: absolute;
  left: 130.33px;
  top: 105.82px;
  overflow: visible;
}
.vector30 {
  position: absolute;
  left: 128.44px;
  top: 115.1px;
  transform: translate(0.93px, -0.77px);
  overflow: visible;
}
.vector31 {
  position: absolute;
  left: 126.61px;
  top: 95.71px;
  overflow: visible;
}
.vector32 {
  position: absolute;
  left: 127.13px;
  top: 137.41px;
  overflow: visible;
}
.vector33 {
  position: absolute;
  left: 133.32px;
  top: 146.62px;
  overflow: visible;
}
.vector34 {
  position: absolute;
  left: 210.17px;
  top: 190.71px;
  overflow: visible;
}
.vector35 {
  position: absolute;
  left: 313.89px;
  top: 67.95px;
  overflow: visible;
}
.vector36 {
  position: absolute;
  left: 317.92px;
  top: 72.47px;
  overflow: visible;
}
.vector37 {
  position: absolute;
  left: 60.6px;
  top: 80.44px;
  overflow: visible;
}
.vector38 {
  position: absolute;
  left: 59.15px;
  top: 83.01px;
  overflow: visible;
}
.vector39 {
  position: absolute;
  left: 36.73px;
  top: 337.39px;
  overflow: visible;
}
.vector40 {
  position: absolute;
  left: 37.17px;
  top: 336.23px;
  overflow: visible;
}
.vector41 {
  position: absolute;
  left: 12.06px;
  top: 255.89px;
  overflow: visible;
}
.vector42 {
  position: absolute;
  left: 12.06px;
  top: 255.89px;
  overflow: visible;
}
.vector43 {
  position: absolute;
  left: 16.5px;
  top: 301px;
  overflow: visible;
}
.vector44 {
  position: absolute;
  left: 16.5px;
  top: 302.42px;
  overflow: visible;
}
.vector45 {
  position: absolute;
  left: 55.65px;
  top: 269.46px;
  overflow: visible;
}
.vector46 {
  position: absolute;
  left: 72.49px;
  top: 271.15px;
  overflow: visible;
}
.vector47 {
  position: absolute;
  left: 36.73px;
  top: 338.36px;
  overflow: visible;
}
.group-42 {
  position: absolute;
  left: 339.88px;
  top: 284.85px;
  overflow: visible;
}
.group-38 {
  position: absolute;
  inset: 0;
}
.contact-us-button {
  width: 144px;
  height: 144px;
  position: static;
}
.rectangle-1173 {
  background: #5b56bd;
  border-radius: 134px;
  width: 144px;
  height: 144px;
  position: absolute;
  left: 684px;
  top: 641px;
}
.message {
  position: absolute;
  left: 714px;
  top: 671px;
  overflow: visible;
}
.app-lovin-hybrid-monetization-blog-1440-x-810-templates-3 {
  position: absolute;
  left: 1512px;
  top: 820px;
  transform: translate(-1512px, 0px);
  overflow: visible;
}
.app-lovin-hybrid-monetization-blog-1440-x-810-templates-6 {
  opacity: 0.20000000298023224;
  position: absolute;
  left: 1512px;
  top: 857.41px;
  transform: translate(-1512px, 0px);
  overflow: visible;
}
.app-lovin-hybrid-monetization-blog-1440-x-810-templates-7 {
  opacity: 0.20000000298023224;
  position: absolute;
  left: 1512px;
  top: 786px;
  transform: translate(-1512px, 0px);
  overflow: visible;
}
.footer {
  padding: 20px 201px 20px 201px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1512px;
  height: 157px;
  position: absolute;
  left: 0px;
  top: 1245.55px;
}
.copyright-2023-offerwall-monetization-all-rights-reserved {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 16px "Rubik", sans-serif;
  position: relative;
}
.frame-414 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 779px;
  top: 1118.55px;
}
.fa-qs {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 18px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 53px;
}
.blog {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 18px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 55px;
}
.partnerships {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 18px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 143px;
}
.privacy-policy {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 18px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 159px;
}
.line-16 {
  border-style: solid;
  border-color: #dedede;
  border-width: 1px 0 0 0;
  width: 1110px;
  height: 0px;
  position: absolute;
  left: 201px;
  top: 1210.55px;
}
.vector56 {
  position: absolute;
  left: 1281px;
  top: 1110.55px;
  overflow: visible;
}
.group-11 {
  position: absolute;
  left: 201px;
  top: 1090.55px;
  overflow: visible;
}
.offfffffferwall-monetization {
  text-align: left;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
  position: absolute;
  left: 262px;
  top: 1084.55px;
}
.offfffffferwall-monetization-span {
  color: #ffffff;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.offfffffferwall-monetization-span2 {
  color: #ffffff;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.offfffffferwall-monetization-span3 {
  color: #ffffff;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.offfffffferwall-monetization-span4 {
  color: #e0ff22;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.a-valuable-tool-for-monetizing-mobile-games {
  color: #ffffff;
  text-align: left;
  font: 400 15px/131.5% "Poppins", sans-serif;
  position: absolute;
  left: 201px;
  top: 1161.55px;
  width: 681px;
  height: 36px;
}
.group-37 {
  position: absolute;
  inset: 0;
}
.rectangle-1175 {
  background: linear-gradient(
    90deg,
    rgba(81, 79, 177, 1) 0%,
    rgba(76, 117, 183, 1) 24.304988980293274%,
    rgba(53, 159, 173, 1) 77.56538987159729%,
    rgba(44, 175, 168, 1) 98.4375%
  );
  opacity: 0.8999999761581421;
  width: 1512px;
  height: 101px;
  position: absolute;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
}
.request-contact-button {
  width: 191px;
  height: 45px;
  position: absolute;
  left: 1250px;
  top: 32px;
}
.rectangle-1176 {
  background: #e0ff22;
  border-radius: 4px;
  width: 191px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.request-contact {
  color: #130e5b;
  text-align: center;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 19px;
  top: 12px;
  width: 153px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-413 {
  display: flex;
  flex-direction: row;
  gap: 81px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 490px;
  top: 42px;
}
.ho-me {
  color: #ffffff;
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.how-it-works {
  color: #ffffff;
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.blog2 {
  color: #ffffff;
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.group-3 {
  position: absolute;
  left: 73px;
  top: 25px;
  overflow: visible;
}
.offfferwall-monetization {
  text-align: left;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
  position: absolute;
  left: 134px;
  top: 22px;
}
.offfferwall-monetization-span {
  color: #ffffff;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.offfferwall-monetization-span2 {
  color: #ffffff;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.offfferwall-monetization-span3 {
  color: #ffffff;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
.offfferwall-monetization-span4 {
  color: #e0ff22;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
}
