.mainBox {
    background: linear-gradient(
        90deg,
        rgba(81, 79, 177, 1) 0%,
        rgba(76, 117, 183, 1) 24.304988980293274%,
        rgba(53, 159, 173, 1) 77.56538987159729%,
        rgba(44, 175, 168, 1) 98.4375%
      );
      opacity: 0.8999999761581421;
      width: 100%;
      height: 100px;
      position: fixed;
      left: 0px;
      top: 0px;
      backdrop-filter: blur(2px);
      z-index: 20;
}

.headerBox {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
    height: 70px;
    width: 77%;
    gap: 110px;
}

.rightImg {
    width: 30%;
    height: 57px;
    display: flex;
    position: absolute;
    left: 60px;

}

.topMenu {
    display: flex;
    flex-direction: row;
    gap: 81px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 490px;
    top: 42px;
}

.topMenuItem {
    color: #ffffff;
    text-align: center;
    font: 500 16px "Poppins", sans-serif;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.headerTitle {
    text-align: left;
    font: 400 30px/0% "NordiquePro-Bold", sans-serif;
    position: absolute;
    left: 120px;
    top: 22px;
  }

.headerTitleItem {
    color: #ffffff;
    font: 400 30px/0% "NordiquePro-Bold", sans-serif;
    margin-top: 10%;
    display: flex;
}

.headerTitleItem2 {
    color: #e0ff22;
    font: 400 30px/0% "NordiquePro-Bold", sans-serif;
    padding-top: 15%;
    display: flex;
}

.topMenu:hover {
    cursor: pointer;
}

.dropDown {
    position: relative;
    width: 132px;
}

.arrowDown{
    padding-left: 5px;
    width: 22px;
    height: 10px;
    transition: all 0.9s;
}

.dropDownBtn{
    position: absolute;
    width: 260px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    justify-content: space-between;
    transition: all 0.9s;
}

.dropDownBtn > ul {
    list-style: none;
    padding: 5px;
    font-size: 16px;
}

.dropDownBtn > ul :hover{
    padding: 5px;
    border: 0.5px solid rgb(240, 239, 239);
    border-radius: 0 0 8px 8px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;

}

.contact {
    background: #e0ff22;
    border-radius: 5px;
    width: 190px;
    height: 45px;
    position: absolute;
    right: 5%;
    top: 28px;
}

.contactButton{
    color: #130e5b;
    text-align: center;
    font: 600 15px "Inter", sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 33%;
    left: auto;
    right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactButton:hover {
    cursor: pointer;
}

.header-logo {
    position: absolute;
    left: 73px;
    top: 25px;
    overflow: visible;
  }