.backgroundImage{
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1512px ;
    height: 617px;
    margin-right: auto;
    margin-left: auto;
}

.footerName {
    align-items: flex-end;

}

.footerInfo {
    position: absolute;
    width: 100%;
    height: 515px;
    display: flex;
    justify-content: center;
}



.innerFooterInfo {
    width: 80%;
    height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.TopFooterInfo {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.rightFooterInfo {
    width: 100%;
    height: 100px;

}

.imgValuable {
    width: 50%;
    height: 70px;
    display: flex;

}

.footerLogo {
    width: 50px;
    height: 58px;
}

.offerwall {
    width: 220px;
    height: 58px;
    padding-left: 12px;
    color: var(--White, #FFF);
    /*font-family: NordiquePro-Bold;*/
    font: 400 30px/0% "NordiquePro-Bold", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;

}

.monetization {
    color: #E0FF22;
    font: 400 30px/0% "NordiquePro-Bold", sans-serif;
    font-size: 30px;
    font-style: bold;
    font-weight: 500;
    line-height: 30px;
}

.valuable {
    width: 100%;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
    color: #FFF;
}

.leftFooterInfo {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;

}

.info {
    width: 100%;
    height: 20px;
}

.rightInfo {
    display: flex;
    justify-content: space-between;
    color: var(--Modal-grey-1, #DBDAD7);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}

.leftInfo {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
}


.footerDivider {
    width: 100%;
    height: 30px;

}

.footerDivider > hr {
    border: 0.5px solid #DEDEDE
}

.downFooterInfo {
    width: 100%;
    height: 103px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #DBDAD7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}