.blogArticle,
.blogArticle * {
  box-sizing: border-box;

}

.blogArticle {
  background: #ffffff;
  width: 100vw;
  max-width: 1530px;
  position: relative;
  margin: auto;
  margin-top: -100px;
}

/* First Container */

.firstBlogArticleContainer {
  width: 100%;
  max-width: 1530px;
  position: relative;
  margin: auto;
  overflow: visible;

}


.heroContainer {
  background: #5b56bd;
  height: 770px;
  position: relative;
  overflow: visible;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 170px;
  align-items: center;
}



.mobileBG {
  display: none;

}

.firstBackground {
  position: absolute;
  left: -1px;
  top: -3px;
  overflow: visible;
}

.secondBackground {
  position: absolute;
  left: -1px;
  transform: translate(0px, -5.5px);
  overflow: visible;
}

.thirdBackground {
  position: absolute;
  opacity: 0.50;
  left: -1px;
  top: 351.47px;
  transform: translate(1px, -340px);
  overflow: visible;
}


.topHeroDiv {
  width: 1110px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}



.heroTitle {
  text-align: left;
  font: 700 55px "Poppins", sans-serif;
  position: relative;
  left: 1px;
  top: 1px;
  width: 704px;
}

.heroTitle_span {
  color: #ffffff;
  font: 700 55px "Poppins", sans-serif;
}

.heroTitle_span2 {
  color: #e0ff22;
  font: 700 55px "Poppins", sans-serif;
}


.btnShare {
  width: 132px;
  height: 38px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.share {
  width: 80px;
  height: 32px;
  color: #e0ff22;
  text-align: center;
  font: 500 25px "Poppins", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 50px;
}

.shareIcon {
  width: 28.02px;
  height: 28.47px;
  position: absolute;
  left: 1px;
  overflow: visible;
}



.heroText {
  width: 1110px;
  height: 120px;
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.heroText_span {
  color: #e0ff22;
  font: 700 40px "Poppins", sans-serif;
}

.heroText_span2 {
  color: #ffffff;
  font: 700 40px "Poppins", sans-serif;
}

.dateAndTimeHero {
  width: 999px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.heroDate {
  width: 79px;
  height: 23px;
  color: #ffffff;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;
  display: flex;
  left: 1px;
  top: 1px;
}


.timeGroup {
  width: 119px;
  height: 24px;
  position: relative;
  display: flex;
  left: 1px;
  top: 1px;
}


.heroReadingTime {
  color: #ffffff;
  text-align: left;
  font: 400 15px/24px "Poppins", sans-serif;
  position: absolute;
  display: flex;
  top: 1px;
  left: 35px
}


.clock {
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: visible;
}

.heroMobile_img {
  border-radius: 10px;
  width: 1110px;
  height: 632px;
  position: absolute;
  top: 548px;
  overflow: visible;
}

.heroMobile {
  display: none;
}

/* Second Container */

.secondBlogArticleContainer {
  width: 100%;
  max-width: 999px;
  position: relative;
  margin: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 500px;
}

.articleAuthor {
  color: #1e1e1e;
  text-align: left;
  font: 400 14px "Poppins", sans-serif;
  position: relative;

}

.articleIntroText {
  color: #1e1e1e;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;

  top: 71px;
  width: 999px;
}

.articleContentContainer {
  color: #1e1e1e;
  text-align: left;
  position: relative;
  top: 129px;
  width: 999px;
  height: 3308px;
}

.articleMainTitle {
  color: #1e1e1e;
  font: 700 30px "Poppins", sans-serif;
}

.articleText {
  color: #1e1e1e;
  font: 400 15px "Poppins", sans-serif;
}


.articleSecondaryTitle {
  color: #1e1e1e;
  font: 500 20px "Poppins", sans-serif;
}


.blogArticleMobile {
  border-radius: 10px;
  width: 999px;
  height: 500px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.bestPraticesContainer {
  color: #1e1e1e;
  text-align: left;
  position: relative;
  width: 999px;
}

/* Third Container */

.thirdBlogArticleContainer {
  width: 100%;
  max-width: 1530px;
  position: relative;
  margin: auto;
  overflow: visible;
}

.readNextContainer {
  background: #5b56bd;
  height: 1722px;
  position: relative;
  margin: auto;
  overflow: visible;

}

.whatToReadNextGroup {
  text-align: left;
  position: relative;
  left: 201px;
  top: 162px;
  width: 482px;
}

.span700White {
  color: #ffffff;
  font: 700 40px "Poppins", sans-serif;
}

.span700Green {
  color: #e0ff22;
  font: 700 40px "Poppins", sans-serif;
}


.allArticles {
  color: #ffffff;
  text-align: right;
  font: 500 20px "Poppins", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1021px;
  top: 184px;
  width: 236px;
}


.phoneImg {
  border-radius: 21px;
  width: 545px;
  height: 329px;
  position: absolute;
  left: 201px;
  top: 240px;
}

.meetingImg {
  border-radius: 21px;
  width: 545px;
  height: 329px;
  position: absolute;
  left: 766px;
  top: 240px;
}

.behindTheScenes {
  top: 589px;
  left: 201px;
  background: #9ad3cc;
  border-radius: 21px;
  width: 545px;
  height: 437px;
  position: absolute;
}

.exploringGroup {
  position: absolute;
  background: #e7caa2;
  border-radius: 21px;
  width: 545px;
  height: 437px;
  top: 589px;
  left: 766px;
}

.cardTitle {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  position: absolute;
  font: 700 20px "Poppins", sans-serif;
  left: 56.48px;
  top: 40px;
  width: 436px;
}

.cardDate {
  color: #1e1e1e;
  text-align: left;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  left: 56.48px;
  top: 170px;
  width: 77.29px;
}

.cardReadingTime {
  color: #1e1e1e;
  text-align: left;
  font: 400 14px/24px "Poppins", sans-serif;
  position: absolute;
  left: 420px;
  top: 167px;
}

.cardClock {
  position: absolute;
  left: 383px;
  top: 167px;
  overflow: visible;
}

.cardText {
  color: #1e1e1e;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 56.48px;
  top: 213px;
  width: 436px;
}

.cardBtn23 {
  width: 190.25px;
  height: 45px;
  position: static;

}


.cardBtn {
  border-radius: 4px;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 190.25px;
  height: 45px;
  position: absolute;
  left: 306px;
  top: 345px;
  text-align: center;


}

.readMore {
  color: #1e1e1e;
  font: 500 15px "Inter", sans-serif;
  text-transform: uppercase;
  top: 12px;
  position: relative;
  height: 20px;

}


.newsletterGroup {
  text-align: left;
  font: 700 55px "Poppins", sans-serif;
  position: absolute;
  left: 201px;
  top: 1132px;
  width: 646px;
  height: 68px;
  overflow: visible;
}

.signUpSpan1 {
  color: #ffffff;
  font: 700 55px "Poppins", sans-serif;
}

.signUpSpan2 {
  color: #e0ff22;
  font: 700 55px "Poppins", sans-serif;
}

.signUpText {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 201px;
  top: 1228px;
  width: 441px;
}

.yourEmail {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 988px;
  top: 1197px;
}

.emailBox {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 320px;
  height: 45px;
  position: absolute;
  left: 991px;
  top: 1223px;
}



.signUpBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 684px;
  top: 1345px;

}

.signUpBackground {
  background: #e0ff22;
  border-radius: 134px;
  flex-shrink: 0;
  width: 144px;
  height: 144px;
  position: relative;
}

.arrow {
  flex-shrink: 0;
  position: absolute;
  overflow: visible;
}


.sign-up {
  color: #ffffff;
  text-align: center;
  font: 500 30px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 650px;
  top: 1540px;
  width: 207px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

/*MOBILE RESPONSIVENESS*/
@media only screen and (max-width: 1130px) and (min-width: 350px) {

  .blogArticle {
    overflow: hidden;

  }

  /* First Container */

  .firstBlogArticleContainer {
    width: 100vw;
    height: 465px;
    position: relative;
    background-image: url(/public/images/mobileBG.svg);
    background-size: 100vw;
    background-position: center;

  }



  .heroContainer {
    background: #ffffff00;
    width: 100VW;
    height: 465px;
    position: relative;
    overflow: visible;
    margin: auto;
    padding-top: 100px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 0px;
    align-items: normal;
  }


  .firstBackground {
    display: none;
  }

  .secondBackground {
    display: none;
  }

  .thirdBackground {
    display: none;
  }

  .topHeroDiv {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }


  .heroTitle {
    text-align: left;
    font: 700 24px "Poppins", sans-serif;
    position: relative;
    height: 36px;
    width: 170px;
    display: flex;
    left: 1px;
    top: 1px;
  }

  .heroTitle_span {
    font: 700 24px "Poppins", sans-serif;
  }

  .heroTitle_span2 {
    font: 700 24px "Poppins", sans-serif;
  }

  .btnShare {
    width: 83px;
    height: 24px;
    position: relative;
    display: flex;
    left: 1px;
    top: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .share {
    font: 500 16px "Poppins", sans-serif;
    width: 51px;
    height: 24px;
    top: 1px;
    left: 30px;

  }

  .shareIcon {
    width: 18px;
    height: 18px;
    top: 3px;
    left: 1px;

  }

  .heroText {
    font: 700 24px "Poppins", sans-serif;
    width: 340px;
    position: relative;
    top: 1px;
    left: 1px;
  }

  .heroText_span {
    font: 700 24px "Poppins", sans-serif;
  }

  .heroText_span2 {
    font: 700 24px "Poppins", sans-serif;
  }

  .dateAndTimeHero {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .heroDate {
    font: 400 15px "Poppins", sans-serif;
    position: relative;
    display: flex;
    left: 1px;
    top: 1px;
  }

  .timeGroup {
    width: 119px;
    height: 24px;
    position: relative;
    display: flex;
    left: 1px;
    top: 1px;
  }

  .heroReadingTime {
    width: 82px;
    height: 24px;
    display: flex;
    top: 1px;
    left: 35px
  }

  .clock {
    width: 22.01px;
    height: 22.01px;
    top: 1px;
    left: 1px;
  }

  .heroMobile_img {
    display: none;
  }

  .heroMobile {
    display: contents;
    position: relative;
    overflow: visible;
  }

  .heroMobileImg {
    left: -10px;
    width: 1110px;
    height: 632px;
    position: relative;
  }

  /* Second Container */

  .secondBlogArticleContainer {
    width: 100vw;
    max-width: 999px;
    height: 4450px;
    position: relative;
    top: 10px;
    overflow: visible;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .articleAuthor {
    width: 350px;
    margin-top: 50px;
    font: 400 15px "Poppins", sans-serif;
  }

  .articleIntroText {
    width: 350px;
    top: 55px;
    font: 400 15px "Poppins", sans-serif;

  }

  .articleContentContainer {
    width: 350px;
    max-width: 999px;
    color: #1e1e1e;
    text-align: left;
    position: relative;

  }

  .articleMainTitle {
    font: 700 28px "Poppins", sans-serif;
  }

  .articleText {
    font: 400 15px "Poppins", sans-serif;
  }


  .articleSecondaryTitle {
    font: 500 20px "Poppins", sans-serif;
  }


  .blogArticleMobileResponsive {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
  }

  .blogArticleMobile {
    border-radius: 0px;
    min-width: 600px;
    height: 345px;
    position: relative;

  }

  .bestPraticesContainer {
    width: 350px;
    max-width: 999px;
    position: relative;
    overflow: visible;
    margin-top: 30px;
  }

}