
html, body {
  height: 100%;
  width: 100%;
}

.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: var(--white, #ffffff);
  width: 1512px;
  height: 7856px;
  position: relative;
  overflow: hidden;
}
.rectangle-1214 {
  background: var(--modal-grey-1, #dbdad7);
  border-radius: 21px;
  width: 612px;
  height: 805px;
  position: absolute;
  left: 202px;
  top: 6013px;
}
.rectangle-1215 {
  background: var(--modal-grey-1, #dbdad7);
  border-radius: 21px;
  width: 488px;
  height: 397px;
  position: absolute;
  left: 824px;
  top: 6013px;
}
.rectangle-1216 {
  background: var(--modal-grey-1, #dbdad7);
  border-radius: 21px;
  width: 488px;
  height: 397px;
  position: absolute;
  left: 824px;
  top: 6421px;
}
.all-articles {
  color: var(--primary-blue-1, #2a2aff);
  text-align: right;
  font: 500 20px "Poppins", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1043px;
  top: 5955px;
  width: 236px;
}
.exploring-offerwall-solutions-for-monetization-and-retention-a-comparative-analysis {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 700 30px "Poppins", sans-serif;
  position: absolute;
  left: 259px;
  top: 6405px;
  width: 470px;
}
.secret-of-mobile-apps-5 {
  border-radius: 21px 21px 0px 0px;
  width: 612px;
  height: 342px;
  position: absolute;
  left: 202px;
  top: 6013px;
}
.jul-19-2023 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  left: 259px;
  top: 6605px;
  width: 184px;
}
.behind-the-scenes-how-advertisers-create-irresistible-offerwall-campaigns {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 872px;
  top: 6590px;
  width: 394px;
}
.jul-28-2023 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  left: 872px;
  top: 6664px;
  width: 117px;
}
.mastering-offerwall-monetisation-strategies-to-boost-your-earnings {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 872px;
  top: 6182px;
  width: 382px;
}
.jul-28-20232 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  left: 872px;
  top: 6256px;
  width: 117px;
}
.rectangle {
  border-radius: 21px 21px 0px 0px;
  width: 488px;
  height: 149px;
  position: absolute;
  left: 824px;
  top: 6013px;
}
.rectangle2 {
  border-radius: 21px 21px 0px 0px;
  width: 488px;
  height: 149px;
  position: absolute;
  left: 824px;
  top: 6421px;
}
.group-1000004469 {
  position: absolute;
  inset: 0;
}
._8-min-read {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 14px/24px "Poppins", sans-serif;
  position: absolute;
  left: 657px;
  top: 6605px;
}
.time {
  position: absolute;
  left: 620px;
  top: 6605px;
  overflow: visible;
}
.group-1000004474 {
  position: absolute;
  inset: 0;
}
._8-min-read2 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: right;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  left: 1169px;
  top: 6256px;
  width: 85px;
}
.time2 {
  position: absolute;
  left: 1142px;
  top: 6255px;
  overflow: visible;
}
.group-1000004475 {
  position: absolute;
  inset: 0;
}
._8-min-read3 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: right;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  left: 1169px;
  top: 6664px;
  width: 85px;
}
.time3 {
  position: absolute;
  left: 1142px;
  top: 6663px;
  overflow: visible;
}
.group-40 {
  position: absolute;
  inset: 0;
}
.button-2 {
  width: 192px;
  height: 45px;
  position: static;
}
.rectangle-1177 {
  border-radius: 22px;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 192px;
  height: 45px;
  position: absolute;
  left: 561px;
  top: 6733px;
}
.rectangle-1178 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 24px;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 713px;
  top: 6738px;
}
.read-more {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 500 15px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 581px;
  top: 6745px;
  width: 112px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.next {
  position: absolute;
  left: 721px;
  top: 6747px;
  overflow: visible;
}
.group-1000004472 {
  position: absolute;
  inset: 0;
}
.rectangle-11772 {
  border-radius: 22px;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 192px;
  height: 45px;
  position: absolute;
  left: 1074px;
  top: 6733px;
}
.rectangle-11782 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 24px;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 1226px;
  top: 6738px;
}
.read-more2 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 500 15px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1094px;
  top: 6745px;
  width: 112px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.next2 {
  position: absolute;
  left: 1234px;
  top: 6747px;
  overflow: visible;
}
.group-1000004473 {
  position: absolute;
  inset: 0;
}
.rectangle-11773 {
  border-radius: 22px;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 192px;
  height: 45px;
  position: absolute;
  left: 1074px;
  top: 6325px;
}
.rectangle-11783 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 24px;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 1226px;
  top: 6330px;
}
.read-more3 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 500 15px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1094px;
  top: 6337px;
  width: 112px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.next3 {
  position: absolute;
  left: 1234px;
  top: 6339px;
  overflow: visible;
}
.rectangle3 {
  border-radius: 21px;
  width: 442px;
  height: 664px;
  position: absolute;
  left: 201px;
  top: 4142px;
  box-shadow: inset 0px 212px 127px 0px rgba(0, 0, 0, 0.28);
}
.rectangle-1211 {
  background: var(--primary-green-1, #0eada1);
  border-radius: 21px;
  width: 660px;
  height: 664px;
  position: absolute;
  left: 651px;
  top: 4142px;
}
.rectangle-1203 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 147px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 4910px;
}
.rectangle-1200 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 1511px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 1964px;
}
.rectangle-1199 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 1511px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 982px;
}
.ellipse-141 {
  background: rgba(217, 217, 217, 0);
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 0.3px;
  width: 561px;
  height: 561px;
  position: absolute;
  left: 478px;
  top: 3201px;
  box-shadow: inset 49px 75px 50px 0px rgba(194, 194, 194, 0.25);
}
.ellipse-142 {
  background: rgba(217, 217, 217, 0);
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 0.3px;
  width: 561px;
  height: 561px;
  position: absolute;
  left: 478px;
  top: 3762px;
  box-shadow: inset -23px -27px 50px 0px rgba(172, 172, 172, 0.18);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-1171 {
  background: var(--primary-blue-1, #2a2aff);
  border-radius: 21px;
  width: 468px;
  height: 244px;
  position: absolute;
  left: 843px;
  top: 645px;
}
.app-lovin-hybrid-monetization-blog-1440-x-810-templates-1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(1, 78, 232, 1) 0.009999999747378752%,
    rgba(13, 174, 159, 1) 100%
  );
  border-radius: 21px;
  width: 468px;
  height: 538px;
  position: absolute;
  left: 843px;
  top: 98px;
}
.rectangle-1167 {
  background: var(--modal-grey-1, #dbdad7);
  border-radius: 21px;
  width: 507px;
  height: 649px;
  position: absolute;
  left: 804px;
  top: 2131px;
}
.rectangle-1168 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 21px;
  width: 595px;
  height: 649px;
  position: absolute;
  left: 201px;
  top: 2131px;
}
.rectangle-1197 {
  background: var(--primary-blue-1, #2a2aff);
  border-radius: 21px;
  width: 1110px;
  height: 478px;
  position: absolute;
  left: 201px;
  top: 7126px;
}
.learn-more-or-schedule-a-call-for-advice-on-how-you-can-maximize-the-impact-of-offerwall-monetization-on-your-own-mobile-games {
  color: var(--white, #ffffff);
  text-align: left;
  font: 400 18px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 7245px;
  width: 985px;
  height: 84px;
}
.an-offerwall-is-a-type-of-in-app-advertising-unit-that-allows-users-to-earn-rewards-by-completing-certain-actions-like-downloading-apps-signing-up-for-newsletters-or-conducting-surveys-the-user-earns-in-game-currency-and-the-gaming-publisher-earns-revenue {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 18px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 1293px;
  width: 457px;
}
.what-is-an-offerwall {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 1211px;
  width: 435px;
  height: 68px;
}
.get-in-touch {
  color: var(--white, #ffffff);
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 7163px;
  width: 533px;
  height: 68px;
}
.many-game-developers-struggle-with-understanding-the-best-way-to-monetize-a-mobile-game-resorting-to-flooding-their-users-with-ads-that-interrupt-the-user-experience-and-cause-their-users-to-write-negative-reviews {
  color: var(--white, #ffffff);
  text-align: left;
  font: 400 18px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 2534px;
  width: 474px;
}
.the-problem-with-modern-mobile-game-monetization {
  color: var(--white, #ffffff);
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 2189px;
  width: 507px;
}
.rectangle-1169 {
  background: var(--modal-grey-1, #dbdad7);
  border-radius: 21px;
  width: 634px;
  height: 791px;
  position: absolute;
  left: 201px;
  top: 98px;
}
.rectangle-1209 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 21px;
  width: 1110px;
  height: 224px;
  position: absolute;
  left: 201px;
  top: 5515px;
}
.implementing-an-offerwall-solution-provides-you-an-avenue-to-offer-premium-content-to-your-users-without-making-them-pay-the-price-engaging-more-users-and-decreasing-churn {
  color: var(--white, #ffffff);
  text-align: center;
  font: 500 18px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 264px);
  top: 5573px;
  width: 529px;
  height: 109px;
}
.offerwalls-are-a-great-monetization-tool-primarily-because-they-help-gaming-publishers-and-developers-reach-a-wider-audience-which-in-turn {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 18px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 511px;
  width: 548px;
  height: 86px;
}
.rectangle-1208 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 22px;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 311px;
  height: 42px;
  position: absolute;
  left: 465px;
  top: 621px;
}
.rectangle-1207 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 22px;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 217px;
  height: 42px;
  position: absolute;
  left: 240px;
  top: 621px;
}
.offerwall-integration-is-seamless-with-existing-ad-monetization-or-paywall-structures {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 15px/32px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 3409px;
  width: 345px;
}
.offerwalls-a-valuable-tool-for-monetizing-mobile-games {
  text-align: left;
  font: 700 50px/131.5% "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 140px;
  width: 548px;
  height: 285px;
}
.offerwalls-a-valuable-tool-for-monetizing-mobile-games-span {
  color: var(--primary-black-1, #1e1e1e);
  font: 700 50px/131.5% "Poppins", sans-serif;
}
.offerwalls-a-valuable-tool-for-monetizing-mobile-games-span2 {
  color: var(--primary-blue-1, #2a2aff);
  font: 700 50px/131.5% "Poppins", sans-serif;
}
.offerwalls-a-valuable-tool-for-monetizing-mobile-games-span3 {
  color: var(--primary-black-1, #1e1e1e);
  font: 700 50px/131.5% "Poppins", sans-serif;
}
.at-the-point-where-users-decline-to-pay-for-premium-content-in-your-online-shop-you-can-redirect-them-to-an-offerwall-giving-them-a-different-way-to-make-the-same-payment {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 15px/32px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 3606px;
  width: 345px;
}
.offerwalls-have-a-proven-track-record-of-increasing-customer-lifetime-value-and-monthly-recurring-revenue {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 400 15px/32px "Poppins", sans-serif;
  position: absolute;
  left: 961px;
  top: 3409px;
  width: 317px;
}
.why-mobile-offerwall-monetization {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 700 40px/32px "Poppins", sans-serif;
  position: absolute;
  left: 225px;
  top: 3119px;
  width: 1068px;
}
.explore-our-blog-for-expert-tips-success-stories-and-industry-updates-on-maximizing-your-earnings-through-offerwall-monetisation {
  color: var(--white, #ffffff);
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 886px;
  top: 711px;
  width: 387px;
}
.blog {
  color: var(--white, #ffffff);
  text-align: left;
  font: 600 30px "Poppins", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 886px;
  top: 668px;
  width: 387px;
}
.group-27 {
  position: absolute;
  inset: 0;
}
.group-2 {
  width: 207px;
  height: 70px;
  position: static;
}
.rectangle-1173 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 68px;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 716px;
  top: 783px;
}
.learn-more {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 500 18px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 579px;
  top: 825px;
  width: 132px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.next4 {
  position: absolute;
  left: 770px;
  top: 799px;
  transform: translate(-38px, 0px);
  overflow: visible;
}
.group-34 {
  position: absolute;
  inset: 0;
}
.rectangle-12072 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 68px;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1347px;
  top: 6405px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.next5 {
  position: absolute;
  left: 1363px;
  top: 6351px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.group-31 {
  position: absolute;
  inset: 0;
}
.rectangle-11774 {
  border-radius: 22px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 192px;
  height: 45px;
  position: absolute;
  left: 1074px;
  top: 808px;
}
.rectangle-11784 {
  background: var(--white, #ffffff);
  border-radius: 24px;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 1226px;
  top: 813px;
}
.read-more4 {
  color: var(--white, #ffffff);
  text-align: left;
  font: 500 15px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1094px;
  top: 820px;
  width: 112px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.next6 {
  position: absolute;
  left: 1234px;
  top: 822px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.i-phone-14-pro {
  width: 242px;
  height: 498.25px;
  position: absolute;
  left: 638px;
  top: 3232.26px;
  box-shadow: 0px 16.58px 16.58px 0px rgba(0, 0, 0, 0.25),
    0px 36.75px 56.02px 0px rgba(0, 0, 0, 0.15),
    0px -17.03px 17.93px 0px rgba(255, 255, 255, 0.1),
    0px -5.83px 25.54px 0px rgba(0, 0, 0, 0.1);
}
.body {
  position: absolute;
  inset: 0;
}
.screen-background {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 36.1px;
  border-style: solid;
  border-color: #989892;
  border-width: 2.83px;
  width: 234.59px;
  height: 493.99px;
  position: absolute;
  left: 3.82px;
  top: 0.43px;
  box-shadow: inset 0px 0px 0.22px 3.05px rgba(63, 63, 63, 1);
}
.stroke-body-outside {
  background: rgba(0, 0, 0, 0);
  border-radius: 37.5px;
  border-style: solid;
  border-color: #1b1c16;
  border-width: 0.44px;
  width: 235.87px;
  height: 494.86px;
  position: absolute;
  left: 3.17px;
  top: 0px;
  box-shadow: inset 0px 0px 0.22px 1.09px rgba(119, 121, 107, 1);
}
.stroke-body {
  border-radius: 0px;
  position: absolute;
  left: 3.82px;
  top: 0.43px;
  overflow: visible;
}
.screen {
  width: 218.54px;
  height: 476.66px;
  position: static;
}
.screen-mask {
  background: var(--neutrals-white, #ffffff);
  border-radius: 25.07px;
  width: 218.54px;
  height: 476.66px;
  position: absolute;
  left: 12.22px;
  top: 9.24px;
}
.mobile-shop-2 {
  border-radius: 26.76px;
  width: 218.85px;
  height: 581.48px;
  position: absolute;
  left: 12.26px;
  top: 10.04px;
}
.antennas {
  position: absolute;
  inset: 0;
}
.bottom {
  background: rgba(154, 169, 177, 0.5);
  width: 3.17px;
  height: 3.43px;
  position: absolute;
  left: 50.26px;
  top: 491.52px;
}
.left-bottom {
  background: rgba(154, 169, 177, 0.5);
  width: 3.56px;
  height: 2.82px;
  position: absolute;
  left: 3.04px;
  top: 445.42px;
}
.left-top {
  background: rgba(228, 228, 227, 0.65);
  width: 3.56px;
  height: 4.03px;
  position: absolute;
  left: 3.17px;
  top: 50.2px;
}
.right-bottom {
  background: rgba(154, 169, 177, 0.5);
  width: 3.56px;
  height: 2.82px;
  position: absolute;
  left: 235.6px;
  top: 445.42px;
}
.right {
  background: rgba(228, 228, 227, 0.65);
  width: 3.56px;
  height: 3.83px;
  position: absolute;
  left: 235.6px;
  top: 50.4px;
}
.top {
  background: rgba(228, 228, 227, 0.65);
  width: 3.76px;
  height: 3.36px;
  position: absolute;
  left: 188.77px;
  top: 0px;
}
.notch {
  position: absolute;
  inset: 0;
}
.top-speaker {
  background: #141414;
  border-radius: 6.32px;
  border-style: solid;
  border-color: #0e0e0e;
  border-width: 0.21px;
  width: 34.46px;
  height: 3.39px;
  position: absolute;
  left: 103.65px;
  top: 4.42px;
  box-shadow: inset 0px 0px 1.05px 0.21px rgba(0, 0, 0, 1),
    inset 0.63px 0px 0px 0px rgba(42, 42, 42, 1),
    inset -0.63px 0px 0px 0px rgba(42, 42, 42, 1);
}
.buttons {
  position: absolute;
  inset: 0;
}
.button {
  background: #c8c9c4;
  border-radius: 0.88px;
  border-width: 0.33px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 25%,
    rgba(67, 68, 62, 1) 50%,
    rgba(126, 129, 122, 1) 68.22916865348816%,
    rgba(131, 132, 127, 1) 93.73287558555603%
  );
  border-image-slice: 1;
  width: 2.37px;
  height: 38.92px;
  position: absolute;
  left: 1.2px;
  top: 182.83px;
  box-shadow: inset 1.1px 0px 0px 0px rgba(218, 219, 214, 1),
    inset 1.1px 0px 0.88px 0px rgba(218, 219, 214, 0.66),
    inset 0.66px 0px 0px 0px rgba(65, 66, 60, 1),
    inset -0.66px -1.76px 0.44px 0px rgba(65, 66, 60, 1),
    inset -0.66px 1.76px 0.44px 0px rgba(65, 66, 60, 1),
    inset 0px 0.66px 0px 0px rgba(242, 243, 237, 1),
    inset 0px -0.66px 0px 0px rgba(242, 243, 237, 1);
}
.button2 {
  background: #c8c9c4;
  border-radius: 0.81px;
  border-width: 0.16px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 29.16666567325592%,
    rgba(67, 68, 62, 1) 50%,
    rgba(126, 129, 122, 1) 77.60416865348816%,
    rgba(131, 132, 127, 1) 100%
  );
  border-image-slice: 1;
  width: 2.37px;
  height: 39.32px;
  position: absolute;
  left: 1.2px;
  top: 135.24px;
  box-shadow: inset 0.2px 0px 0px 0px rgba(218, 219, 214, 1),
    inset -0.61px -1.62px 0.61px 0px rgba(218, 219, 214, 0.2),
    inset 0px 1.62px 0.2px 0px rgba(65, 66, 60, 0.3),
    inset -0.81px 0px 0.81px 0px rgba(65, 66, 60, 1),
    inset 0px 0.81px 0px 0px rgba(65, 66, 60, 1),
    inset 0px -0.81px 0.4px 0px rgba(242, 243, 237, 1),
    inset -0.4px 0px 0px 0px rgba(242, 243, 237, 1);
}
.silence-button {
  background: #c8c9c4;
  border-radius: 0.81px;
  border-width: 0.16px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 29.16666567325592%,
    rgba(67, 68, 62, 1) 50%,
    rgba(126, 129, 122, 1) 75.52083134651184%,
    rgba(131, 132, 127, 1) 100%
  );
  border-image-slice: 1;
  width: 2.37px;
  height: 21.17px;
  position: absolute;
  left: 1px;
  top: 98.55px;
  box-shadow: inset 0.2px 0px 0px 0px rgba(218, 219, 214, 1),
    inset -0.61px -1.62px 0.61px 0px rgba(218, 219, 214, 0.2),
    inset 0px 1.62px 0.2px 0px rgba(65, 66, 60, 0.3),
    inset -0.81px 0px 0.81px 0px rgba(65, 66, 60, 1),
    inset 0px 0.81px 0px 0px rgba(65, 66, 60, 1),
    inset 0px -0.81px 0.4px 0px rgba(242, 243, 237, 1),
    inset -0.4px 0px 0px 0px rgba(242, 243, 237, 1);
}
.power-button {
  background: #c8c9c4;
  border-radius: 0.88px;
  border-width: 0.16px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 23.4375%,
    rgba(67, 68, 62, 1) 55.72916865348816%,
    rgba(126, 129, 122, 1) 76.04166865348816%,
    rgba(131, 132, 127, 1) 93.22916865348816%
  );
  border-image-slice: 1;
  width: 1.78px;
  height: 59.28px;
  position: absolute;
  left: 238.85px;
  top: 148.36px;
  box-shadow: inset -0.88px 0px 0px 0px rgba(218, 219, 214, 1),
    inset 0.88px -1.76px 0.44px 0px rgba(218, 219, 214, 1),
    inset 0.88px 1.76px 0.44px 0px rgba(65, 66, 60, 1),
    inset -0.66px 0px 0.88px 0px rgba(65, 66, 60, 0.66),
    inset 0px 0.88px 0px 0px rgba(242, 243, 237, 1),
    0px 0.9px 0.9px 0px rgba(0, 0, 0, 0.25);
}
.front-camera {
  position: absolute;
  left: 94.09px;
  top: 17.16px;
  overflow: visible;
}
.group-43 {
  position: absolute;
  inset: 0;
}
.ellipse-144 {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border-style: solid;
  border-color: #b2aca2;
  border-width: 1px;
  width: 155px;
  height: 155px;
  position: absolute;
  left: 449px;
  top: 4308px;
  backdrop-filter: blur(4.5px);
}
.make-in-app-purchase {
  color: var(--white, #ffffff);
  text-align: center;
  font: 400 13px "Poppins", sans-serif;
  position: absolute;
  left: 458px;
  top: 4389px;
  width: 137px;
}
._1-6 {
  color: var(--white, #ffffff);
  text-align: center;
  font: 700 50px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 291px);
  top: 4332px;
  width: 124px;
}
.group-44 {
  position: absolute;
  inset: 0;
}
.ellipse-143 {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border-style: solid;
  border-color: #b2aca2;
  border-width: 1px;
  width: 155px;
  height: 155px;
  position: absolute;
  left: calc(50% - 307px);
  top: 4597px;
  backdrop-filter: blur(4.5px);
}
.only-make-one {
  color: var(--white, #ffffff);
  text-align: center;
  font: 400 13px "Poppins", sans-serif;
  position: absolute;
  left: 468px;
  top: 4687px;
  width: 117px;
}
._72 {
  color: var(--white, #ffffff);
  text-align: center;
  font: 700 50px "Poppins", sans-serif;
  position: absolute;
  left: 468px;
  top: 4629px;
  width: 117px;
  height: 63px;
}
.blog2 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 5937px;
  width: 668px;
}
.offerwalls-solve-two-key-problems {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 401px);
  top: 5064px;
  width: 802px;
}
.your-users-aren-t-willing-to-pay-to-play {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  position: absolute;
  left: 452px;
  top: 5279px;
  width: 275px;
}
.your-users-hate-ads-and-think-they-interrupt-the-user-experience {
  color: var(--primary-black-1, #1e1e1e);
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  position: absolute;
  left: 882px;
  top: 5279px;
  width: 275px;
}
.a-study-by-app-annie-found-that-adding-offerwalls-to-your-existing-monetization-strategy-increases-retention-by-50-why-the-answer-is-more-choice-for-the-user {
  color: var(--white, #ffffff);
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: absolute;
  left: 886px;
  top: 151px;
  width: 387px;
  height: 100px;
}
._1 {
  color: var(--primary-blue-1, #2a2aff);
  text-align: center;
  font: 400 61px/131.5% "Bungee Outline", sans-serif;
  position: absolute;
  left: 258px;
  top: 3341px;
}
._3 {
  color: var(--primary-blue-1, #2a2aff);
  text-align: center;
  font: 400 61px/131.5% "Bungee Outline", sans-serif;
  position: absolute;
  left: 258px;
  top: 3538px;
}
._2 {
  color: var(--primary-blue-1, #2a2aff);
  text-align: center;
  font: 400 61px/131.5% "Bungee Outline", sans-serif;
  position: absolute;
  left: 961px;
  top: 3341px;
}
._4 {
  color: var(--primary-blue-1, #2a2aff);
  text-align: center;
  font: 400 61px/131.5% "Bungee Outline", sans-serif;
  position: absolute;
  left: 961px;
  top: 3538px;
}
.rectangle-1198 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 25px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-1201 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 124px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 2946px;
}
.rectangle-1204 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 25px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 5892px;
}
.rectangle-1210 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 132px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 6874px;
}
.rectangle-1202 {
  background: var(--white, #ffffff);
  opacity: 0.30000001192092896;
  width: 193px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 3928px;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.group-22 {
  width: 207px;
  height: 20px;
  position: static;
}
.contact-us {
  color: var(--white, #ffffff);
  text-align: center;
  font: 500 30px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 652px;
  top: 7535px;
  width: 207px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-45 {
  position: absolute;
  inset: 0;
}
.group-30 {
  width: 450.15px;
  height: 524px;
  position: static;
}
.ellipse-131 {
  position: absolute;
  left: 1206.93px;
  top: 1542.13px;
  transform: translate(-2.48px, -55.78px);
  overflow: visible;
}
.rectangle-1182 {
  background: var(--white, #ffffff);
  border-radius: 17px;
  width: 253px;
  height: 524px;
  position: absolute;
  left: 861px;
  top: 1211px;
  box-shadow: 4px 20px 30px 0px rgba(30, 30, 30, 0.18);
}
.rectangle-1189 {
  background: #e1e1e1;
  border-radius: 15px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 0.5px;
  width: 247px;
  height: 514px;
  position: absolute;
  left: 864px;
  top: 1216px;
}
.rectangle-1183 {
  background: var(--modal-grey-1, #dbdad7);
  border-radius: 15px 15px 0px 0px;
  border-style: solid;
  border-color: #ababab;
  border-width: 0.5px;
  width: 247px;
  height: 89px;
  position: absolute;
  left: 864px;
  top: 1215px;
}
.logo {
  position: absolute;
  left: 970.98px;
  top: 1226.14px;
  overflow: visible;
}
.rectangle-1184 {
  background: #e8e8e8;
  border-radius: 3px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 0.4px;
  width: 230px;
  height: 66px;
  position: absolute;
  left: 873px;
  top: 1320px;
}
.rectangle-1185 {
  background: #e8e8e8;
  border-radius: 3px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 0.4px;
  width: 230px;
  height: 68px;
  position: absolute;
  left: 873px;
  top: 1394px;
}
.rectangle-1187 {
  background: #e8e8e8;
  border-radius: 3px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 0.4px;
  width: 230px;
  height: 68px;
  position: absolute;
  left: 873px;
  top: 1555px;
}
.rectangle-1188 {
  background: #e8e8e8;
  border-radius: 3px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 0.4px;
  width: 230px;
  height: 66px;
  position: absolute;
  left: 873px;
  top: 1632px;
}
.group-17 {
  width: 42.89px;
  height: 42.89px;
  position: static;
}
.rectangle-11892 {
  background: #c5c5c5;
  border-radius: 6px;
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1405.65px;
}
.survey {
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1405.65px;
}
.group-19 {
  width: 42.89px;
  height: 42.89px;
  position: static;
}
.rectangle-11893 {
  background: #c5c5c5;
  border-radius: 6px;
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1567.31px;
}
.survey2 {
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1567.31px;
}
.group-20 {
  width: 42.89px;
  height: 42.89px;
  position: static;
}
.rectangle-11894 {
  background: #c5c5c5;
  border-radius: 6px;
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1643.19px;
}
.survey3 {
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1643.19px;
}
.group-18 {
  width: 42.89px;
  height: 42.89px;
  position: static;
}
.rectangle-11895 {
  background: #c5c5c5;
  border-radius: 6px;
  width: 42.89px;
  height: 42.89px;
  position: absolute;
  left: 883.58px;
  top: 1331.42px;
}
.group-12 {
  position: absolute;
  left: 1166.16px;
  top: 1388.82px;
  overflow: visible;
}
.rectangle-1186 {
  background: #eaeaea;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 0.7px;
  width: 324px;
  height: 93px;
  position: absolute;
  left: 873px;
  top: 1470px;
  box-shadow: -9px 21px 20px 0px rgba(0, 0, 0, 0.14);
}
.rectangle-1191 {
  background: rgba(212, 212, 212, 0.01);
  border-radius: 10px;
  width: 324px;
  height: 93px;
  position: absolute;
  left: 873px;
  top: 1470px;
  box-shadow: inset 13px 17px 17px 0px rgba(255, 255, 255, 0.4);
}
.group-16 {
  width: 61.03px;
  height: 61.03px;
  position: static;
}
.rectangle-11896 {
  background: #0eada1;
  border-radius: 6px;
  width: 61.03px;
  height: 61.03px;
  position: absolute;
  left: 883.58px;
  top: 1486.48px;
}
.survey4 {
  width: 50.51px;
  height: 50.51px;
  position: absolute;
  left: 889px;
  top: 1491px;
}
.coins {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-end;
  width: 68px;
  height: 28px;
  position: absolute;
  left: 1111px;
  top: 1501px;
}
.group-13 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.count {
  color: #838383;
  text-align: right;
  font: 500 14px "Rubik", sans-serif;
  position: relative;
}
.count2 {
  color: #9b9b9b;
  text-align: left;
  font: 500 14px "Rubik", sans-serif;
  position: absolute;
  left: 873px;
  top: 1277px;
  width: 97px;
  height: 20px;
}
.count3 {
  color: #9b9b9b;
  text-align: left;
  font: 500 13px "Rubik", sans-serif;
  position: absolute;
  left: 959px;
  top: 1492px;
  width: 129px;
  height: 39px;
}
.group-132 {
  position: absolute;
  left: 1066px;
  top: 1280.43px;
  overflow: visible;
}
.group-14 {
  position: absolute;
  left: 1221.72px;
  top: 1307.9px;
  transform: translate(-37.95px, 0px);
  overflow: visible;
}
.group-29 {
  position: absolute;
  left: 1182.16px;
  top: 1211px;
  overflow: visible;
}
.star-1 {
  position: absolute;
  left: 1125px;
  top: 1211px;
  overflow: visible;
}
.star-2 {
  position: absolute;
  left: 807px;
  top: 1264px;
  overflow: visible;
}
.star-3 {
  position: absolute;
  left: 1188px;
  top: 1578px;
  overflow: visible;
}
.rectangle5 {
  border-radius: 21px;
  width: 507px;
  height: 649px;
  position: absolute;
  left: 804px;
  top: 2131px;
}
.the-2019-swrve-monetization-report-found-that-only-1-6-of-all-players-make-an-in-app-purchase-and-72-of-these-only-make-one-so-what-is-a-developer-to-do-well-generally-the-answer-is-to-slam-your-users-with-ads-but-that-is-what-has-led-the-industry-to-have-churn-rates-that-average-around-80-after-3-days-that-s-not-great {
  color: var(--white, #ffffff);
  text-align: left;
  font: 400 18px "Poppins", sans-serif;
  position: absolute;
  left: 713px;
  top: 4520px;
  width: 539px;
}
.the-2019-swrve-monetization-report-found-that-only-1-6-of-all-players-make-an-in-app-purchase-and-72-of-these-only-make-one-so-what-is-a-developer-to-do-well-generally-the-answer-is-to-slam-your-users-with-ads-but-that-is-what-has-led-the-industry-to-have-churn-rates-that-average-around-80-after-3-days-that-s-not-great-span {
  color: var(--white, #ffffff);
  font: 400 18px "Poppins", sans-serif;
}
.the-2019-swrve-monetization-report-found-that-only-1-6-of-all-players-make-an-in-app-purchase-and-72-of-these-only-make-one-so-what-is-a-developer-to-do-well-generally-the-answer-is-to-slam-your-users-with-ads-but-that-is-what-has-led-the-industry-to-have-churn-rates-that-average-around-80-after-3-days-that-s-not-great-span2 {
  color: var(--white, #ffffff);
  font: 400 18px "Poppins", sans-serif;
  text-decoration: underline;
}
.the-2019-swrve-monetization-report-found-that-only-1-6-of-all-players-make-an-in-app-purchase-and-72-of-these-only-make-one-so-what-is-a-developer-to-do-well-generally-the-answer-is-to-slam-your-users-with-ads-but-that-is-what-has-led-the-industry-to-have-churn-rates-that-average-around-80-after-3-days-that-s-not-great-span3 {
  color: var(--white, #ffffff);
  font: 400 18px "Poppins", sans-serif;
}
.the-2019-swrve-monetization-report-found-that-only-1-6-of-all-players-make-an-in-app-purchase-and-72-of-these-only-make-one-so-what-is-a-developer-to-do-well-generally-the-answer-is-to-slam-your-users-with-ads-but-that-is-what-has-led-the-industry-to-have-churn-rates-that-average-around-80-after-3-days-that-s-not-great-span4 {
  color: var(--white, #ffffff);
  font: 400 18px "Poppins", sans-serif;
  text-decoration: underline;
}
.the-2019-swrve-monetization-report-found-that-only-1-6-of-all-players-make-an-in-app-purchase-and-72-of-these-only-make-one-so-what-is-a-developer-to-do-well-generally-the-answer-is-to-slam-your-users-with-ads-but-that-is-what-has-led-the-industry-to-have-churn-rates-that-average-around-80-after-3-days-that-s-not-great-span5 {
  color: var(--white, #ffffff);
  font: 400 18px "Poppins", sans-serif;
}
.offerwall-engagement-is-highest-among-non-paying-users {
  color: var(--white, #ffffff);
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 713px;
  top: 4200px;
  width: 507px;
}
.ok-but-do-offerwalls-work {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 481px);
  top: 4032px;
  width: 962px;
}
.frame-415 {
  width: 313px;
  height: 361px;
  position: absolute;
  right: 278px;
  bottom: 7220px;
  overflow: hidden;
}
.i-phone-14-pro2 {
  width: 262px;
  height: 539.42px;
  position: absolute;
  left: 25.5px;
  top: 0px;
  box-shadow: 0px 17.95px 17.95px 0px rgba(0, 0, 0, 0.25),
    0px 39.78px 60.65px 0px rgba(0, 0, 0, 0.15),
    0px -18.44px 19.41px 0px rgba(255, 255, 255, 0.1),
    0px -6.31px 27.66px 0px rgba(0, 0, 0, 0.1);
}
.screen-background2 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 39.08px;
  border-style: solid;
  border-color: #989892;
  border-width: 3.07px;
  width: 253.97px;
  height: 534.81px;
  position: absolute;
  left: 4.13px;
  top: 0.47px;
  box-shadow: inset 0px 0px 0.24px 3.3px rgba(63, 63, 63, 1);
}
.stroke-body-outside2 {
  background: rgba(0, 0, 0, 0);
  border-radius: 40.6px;
  border-style: solid;
  border-color: #1b1c16;
  border-width: 0.47px;
  width: 255.36px;
  height: 535.76px;
  position: absolute;
  left: 3.44px;
  top: 0px;
  box-shadow: inset 0px 0px 0.24px 1.18px rgba(119, 121, 107, 1);
}
.stroke-body2 {
  border-radius: 0px;
  position: absolute;
  left: 4.13px;
  top: 0.47px;
  overflow: visible;
}
.screen2 {
  width: 236.6px;
  height: 516.05px;
  position: static;
}
.screen-mask2 {
  background: var(--neutrals-white, #ffffff);
  border-radius: 27.14px;
  width: 236.6px;
  height: 516.05px;
  position: absolute;
  left: 13.24px;
  top: 10px;
}
.mobile-lottery-smatched-2 {
  width: 236.92px;
  height: 571.55px;
  position: absolute;
  left: 13.14px;
  top: 9.79px;
}
.bottom2 {
  background: rgba(154, 169, 177, 0.5);
  width: 3.43px;
  height: 3.71px;
  position: absolute;
  left: 54.41px;
  top: 532.14px;
}
.left-bottom2 {
  background: rgba(154, 169, 177, 0.5);
  width: 3.86px;
  height: 3.06px;
  position: absolute;
  left: 3.28px;
  top: 482.23px;
}
.left-top2 {
  background: rgba(228, 228, 227, 0.65);
  width: 3.86px;
  height: 4.37px;
  position: absolute;
  left: 3.43px;
  top: 54.36px;
}
.right-bottom2 {
  background: rgba(154, 169, 177, 0.5);
  width: 3.86px;
  height: 3.06px;
  position: absolute;
  left: 255.07px;
  top: 482.23px;
}
.right2 {
  background: rgba(228, 228, 227, 0.65);
  width: 3.86px;
  height: 4.15px;
  position: absolute;
  left: 255.08px;
  top: 54.57px;
}
.top2 {
  background: rgba(228, 228, 227, 0.65);
  width: 4.07px;
  height: 3.64px;
  position: absolute;
  left: 204.37px;
  top: 0px;
}
.top-speaker2 {
  background: #141414;
  border-radius: 6.84px;
  border-style: solid;
  border-color: #0e0e0e;
  border-width: 0.23px;
  width: 37.31px;
  height: 3.67px;
  position: absolute;
  left: 112.21px;
  top: 4.79px;
  box-shadow: inset 0px 0px 1.14px 0.23px rgba(0, 0, 0, 1),
    inset 0.68px 0px 0px 0px rgba(42, 42, 42, 1),
    inset -0.68px 0px 0px 0px rgba(42, 42, 42, 1);
}
.button3 {
  background: #c8c9c4;
  border-radius: 0.95px;
  border-width: 0.36px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 25%,
    rgba(67, 68, 62, 1) 50%,
    rgba(126, 129, 122, 1) 68.22916865348816%,
    rgba(131, 132, 127, 1) 93.73287558555603%
  );
  border-image-slice: 1;
  width: 2.57px;
  height: 42.13px;
  position: absolute;
  left: 1.3px;
  top: 197.94px;
  box-shadow: inset 1.19px 0px 0px 0px rgba(218, 219, 214, 1),
    inset 1.19px 0px 0.95px 0px rgba(218, 219, 214, 0.66),
    inset 0.71px 0px 0px 0px rgba(65, 66, 60, 1),
    inset -0.71px -1.9px 0.48px 0px rgba(65, 66, 60, 1),
    inset -0.71px 1.9px 0.48px 0px rgba(65, 66, 60, 1),
    inset 0px 0.71px 0px 0px rgba(242, 243, 237, 1),
    inset 0px -0.71px 0px 0px rgba(242, 243, 237, 1);
}
.button4 {
  background: #c8c9c4;
  border-radius: 0.87px;
  border-width: 0.17px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 29.16666567325592%,
    rgba(67, 68, 62, 1) 50%,
    rgba(126, 129, 122, 1) 77.60416865348816%,
    rgba(131, 132, 127, 1) 100%
  );
  border-image-slice: 1;
  width: 2.57px;
  height: 42.57px;
  position: absolute;
  left: 1.3px;
  top: 146.42px;
  box-shadow: inset 0.22px 0px 0px 0px rgba(218, 219, 214, 1),
    inset -0.66px -1.75px 0.66px 0px rgba(218, 219, 214, 0.2),
    inset 0px 1.75px 0.22px 0px rgba(65, 66, 60, 0.3),
    inset -0.87px 0px 0.87px 0px rgba(65, 66, 60, 1),
    inset 0px 0.87px 0px 0px rgba(65, 66, 60, 1),
    inset 0px -0.87px 0.44px 0px rgba(242, 243, 237, 1),
    inset -0.44px 0px 0px 0px rgba(242, 243, 237, 1);
}
.silence-button2 {
  background: #c8c9c4;
  border-radius: 0.87px;
  border-width: 0.17px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 29.16666567325592%,
    rgba(67, 68, 62, 1) 50%,
    rgba(126, 129, 122, 1) 75.52083134651184%,
    rgba(131, 132, 127, 1) 100%
  );
  border-image-slice: 1;
  width: 2.57px;
  height: 22.92px;
  position: absolute;
  left: 1.08px;
  top: 106.69px;
  box-shadow: inset 0.22px 0px 0px 0px rgba(218, 219, 214, 1),
    inset -0.66px -1.75px 0.66px 0px rgba(218, 219, 214, 0.2),
    inset 0px 1.75px 0.22px 0px rgba(65, 66, 60, 0.3),
    inset -0.87px 0px 0.87px 0px rgba(65, 66, 60, 1),
    inset 0px 0.87px 0px 0px rgba(65, 66, 60, 1),
    inset 0px -0.87px 0.44px 0px rgba(242, 243, 237, 1),
    inset -0.44px 0px 0px 0px rgba(242, 243, 237, 1);
}
.power-button2 {
  background: #c8c9c4;
  border-radius: 0.95px;
  border-width: 0.17px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(125, 126, 121, 1) 0%,
    rgba(27, 28, 22, 1) 23.4375%,
    rgba(67, 68, 62, 1) 55.72916865348816%,
    rgba(126, 129, 122, 1) 76.04166865348816%,
    rgba(131, 132, 127, 1) 93.22916865348816%
  );
  border-image-slice: 1;
  width: 1.93px;
  height: 64.18px;
  position: absolute;
  left: 258.59px;
  top: 160.61px;
  box-shadow: inset -0.95px 0px 0px 0px rgba(218, 219, 214, 1),
    inset 0.95px -1.9px 0.48px 0px rgba(218, 219, 214, 1),
    inset 0.95px 1.9px 0.48px 0px rgba(65, 66, 60, 1),
    inset -0.71px 0px 0.95px 0px rgba(65, 66, 60, 0.66),
    inset 0px 0.95px 0px 0px rgba(242, 243, 237, 1),
    0px 0.97px 0.97px 0px rgba(0, 0, 0, 0.25);
}
.front-camera2 {
  position: absolute;
  left: 101.86px;
  top: 18.58px;
  overflow: visible;
}
.generates-additional-revenue {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 484px;
  top: 628px;
  width: 274px;
  height: 29px;
}
.increases-retention {
  color: var(--modal-grey-1, #dbdad7);
  text-align: left;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 258px;
  top: 628px;
  width: 182px;
  height: 29px;
}
.group-38 {
  position: absolute;
  inset: 0;
}
.contact-us-button {
  width: 144px;
  height: 144px;
  position: static;
}
.rectangle-11732 {
  background: var(--primary-black-1, #1e1e1e);
  border-radius: 134px;
  width: 144px;
  height: 144px;
  position: absolute;
  left: 684px;
  top: 7357px;
}
.message {
  position: absolute;
  left: 714px;
  top: 7387px;
  overflow: visible;
}
.footer {
  background: #070707;
  padding: 20px 247px 20px 247px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.copyright-2023-offerwall-monetization-all-rights-reserved {
  color: var(--modal-grey-1, #dbdad7);
  text-align: left;
  font: 400 16px "Rubik", sans-serif;
  position: relative;
}
.frame-414 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.fa-qs {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 45px;
}
.blog3 {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 46px;
}
.partnerships {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 121px;
}
.privacy-policy {
  color: var(--modal-grey-1, #dbdad7);
  text-align: center;
  font: 400 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 134px;
}
.ellipse-145 {
  background: #ededed;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 355px;
  top: 5264px;
}
.ellipse-146 {
  background: #ededed;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 785px;
  top: 5264px;
}
.group {
  position: absolute;
  left: 373px;
  top: 5290px;
  overflow: visible;
}
.ads {
  position: absolute;
  left: 806px;
  top: 5285px;
  overflow: visible;
}
.header {
  position: absolute;
  inset: 0;
}
.rectangle-1175 {
  background: var(--white, #ffffff);
  width: 1512px;
  height: 91px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-1174 {
  border-radius: 17px;
  border-style: solid;
  border-color: #b3acac;
  border-width: 1px;
  width: 1110px;
  height: 58px;
  position: absolute;
  left: 201px;
  top: 25px;
}
.rectangle-1176 {
  background: var(--primary-blue-1, #2a2aff);
  border-radius: 22px;
  border-style: solid;
  border-color: #2a2aff;
  border-width: 1px;
  width: 191px;
  height: 45px;
  position: absolute;
  left: 1087px;
  top: 32px;
}
.request-contact {
  color: var(--white, #ffffff);
  text-align: center;
  font: 500 15px "Inter", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1106px;
  top: 44px;
  width: 153px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-413 {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 544px;
  top: 42px;
}
.ho-me {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.how-it-works {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.blog4 {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.about-us {
  color: var(--primary-black-1, #1e1e1e);
  text-align: center;
  font: 500 16px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.group-3 {
  position: absolute;
  left: 258px;
  top: 33px;
  overflow: visible;
}


