
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}